<h1>Ciclos de Vida de um Componente!</h1>

<h2>NgOnChanges</h2>
<app-cnp [nome]="valorNome" [idade]="valorIdade"></app-cnp>
<!-- idade é do tipo numérico, por isso colocou o property binding, por ser numérico -->

<mat-card>

  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input type="text" matInput placeholder="Digite o nome" #nomeInput>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input type="text" matInput placeholder="Digite a idade" #idadeInput>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="alterarValores(nomeInput.value, parseInt(idadeInput.value))">
      Salvar Alterações</button>
  </mat-card-actions>


</mat-card>

<h2>NgAfterContentlnit</h2>

<app-cnp>

  <h1>Titulo</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint vitae natus animi officiis c
    orrupti fugit accusamus neque ullam magnam vel mollitia praesentium voluptate recusandae qui minima ipsa, eveniet
    alias?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint vitae natus animi officiis c
    orrupti fugit accusamus neque ullam magnam vel mollitia praesentium voluptate recusandae qui minima ipsa, eveniet
    alias?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint vitae natus animi officiis c
    orrupti fugit accusamus neque ullam magnam vel mollitia praesentium voluptate recusandae qui minima ipsa, eveniet
    alias?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint vitae natus animi officiis c
    orrupti fugit accusamus neque ullam magnam vel mollitia praesentium voluptate recusandae qui minima ipsa, eveniet
    alias?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint vitae natus animi officiis c
    orrupti fugit accusamus neque ullam magnam vel mollitia praesentium voluptate recusandae qui minima ipsa, eveniet
    alias?</p>

    <app-cnp nome="gabriel"></app-cnp>
</app-cnp>

<h2>OnDestroy</h2>

<app-cnp [nome]="valorNome" *ngIf="mostrar == true"></app-cnp>
<button mat-raised-button color="accent" (click)="mostrar = !mostrar">Adicionar/Remover CNP</button>